[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pyproj = "3.0"
shapely = "1.7"
esridump = {editable = true, path = "."}

[dev-packages]
mock = "*"
responses = "*"
cookies = "*"
bumpversion = "*"
nose = "*"
"autopep8" = "*"
